body {
   
 
    background-color: ghostwhite
    /* background-color: gold */
   
}
 table{
     margin-top: 15px;
 }

th {
    
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Inria Serif', serif;
    /* color: silver; */
    color: rgb(134, 131, 131);
    cursor: pointer;
    
}


header {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-style: outset;
    background-color: rgba(241, 168, 229, 0.349);
}
.email {
    color:rgb(28, 28, 235);
    font-size: 15px;
   
    
    
}
.inputAndButton{
    margin-top:40px;
    
}


.searchBttn{
    margin-top:40px;
    margin-bottom: 40px;
    border-radius: 20px;;
    letter-spacing: 1px !important;;
    font-size:10px ;
    background-color: #2b4162; 
    /* background-color: #e4eaf1;
    /* background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%); */
     background-image: linear-gradient(315deg, #2b4162 0%, #c9bcaf 74%);
    font-weight: bolder;   
   
}

/* header {
    padding: 10px;     
    background-color: #cfd6e6
    
 
} */

img {
    border-radius: 50%;  
    box-shadow: black 1px 1px 8px;  
 }



 .headerText {
    letter-spacing: 1px;
    font-size: 50px;
    font-family: 'Inria Serif', serif;
    font-weight: lighter;
    text-shadow: rgba(231, 157, 203, 0.514) 1px 1px 1px;   
    color: rgb(44, 43, 43)
 }

 input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow:none !important;;
    -moz-box-shadow: none !important;;
    -webkit-box-shadow: none !important;;
   
}
input {
    
color: gray !important;
   
}
 .smallerHeaderText{
   color: white;
   font-family: 'Catamaran', sans-serif;
    letter-spacing: 0.5px;
    line-height: 0px;
   
font-weight: lighter;
  
    
    
    margin-top: 0;
 }


 .tableEmployee{
     margin-left: 40px;
     margin-right: 40px;
     padding: 0px;
     font-family: 'Catamaran', sans-serif;
     
    
 }

  
td {
      font-size: 16px;
      letter-spacing: 0.5px;
      font-family: 'Catamaran', sans-serif;
      font-weight: bold;
    
  }