body {
   
 
    background-color: ghostwhite
     
}

th {
    
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Inria Serif', serif;   
    color: rgb(134, 131, 131);
    cursor: pointer;
    
}

header {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-style: outset;
    background-color: rgba(241, 168, 229, 0.349);
}

.email {
    color:rgb(28, 28, 235);
    font-size: 15px;    
    
}

.inputAndButton{
    margin-top:30px;
    
}

table{
    margin-top: 25px;
}

img {
    border-radius: 50%;  
    box-shadow: black 1px 1px 8px;  
}

.headerText {
    letter-spacing: 1px;
    font-size: 50px;
    font-family: 'Inria Serif', serif;
    font-weight: lighter;
    text-shadow: rgba(231, 157, 203, 0.514) 1px 1px 1px;   
    color: rgb(44, 43, 43)
}

input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow:none !important;;
    -moz-box-shadow: none !important;;
    -webkit-box-shadow: none !important;;
   
}
input {
    
color: gray !important;
   
}
 .smallerHeaderText{
   color: white;
   font-family: 'Catamaran', sans-serif;
   letter-spacing: 0.5px;
   line-height: 0px;   
   font-weight: lighter;    
   margin-top: 0;
}


.tableEmployee{
     margin-left: 40px;
     margin-right: 40px;
     padding: 0px;
     font-family: 'Catamaran', sans-serif;
     
    
}

  
td {
      font-size: 16px;
      letter-spacing: 0.5px;
      font-family: 'Catamaran', sans-serif;
      font-weight: bold;
    
}